.ytThumbnailViewModelImage,
ytd-rich-item-renderer:has(ytd-ad-slot-renderer) {
  display: none !important;
}

ytd-rich-item-renderer:has(yt-collection-thumbnail-view-model) {
  display: none !important;
}